ProvaEsame/NegozioBirreEE_WSClient/xml-resources/web-service-references/NegozioWS/wsdl/localhost_8080/NegozioEJBService/NegozioWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb/">

<xs:element name="cambio_direttore" type="tns:cambio_direttore"/>

<xs:element name="cambio_direttoreResponse" type="tns:cambio_direttoreResponse"/>

<xs:complexType name="cambio_direttore">
<xs:sequence>
<xs:element name="old_director_name" type="xs:string" minOccurs="0"/>
<xs:element name="new_director_name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambio_direttoreResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>