ProvaEsame/NegozioEE_WSClient/src/wsdl/localhost_8080/NegozioEJBService/NegozioWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="NegozioEJBService">
<wsp:Policy wsu:Id="NegozioWSPortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://localhost:8080/NegozioEJBService/NegozioWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createNegozio">
<part name="parameters" element="tns:createNegozio"/>
</message>
<message name="createNegozioResponse">
<part name="parameters" element="tns:createNegozioResponse"/>
</message>
<message name="updateNegozio">
<part name="parameters" element="tns:updateNegozio"/>
</message>
<message name="updateNegozioResponse">
<part name="parameters" element="tns:updateNegozioResponse"/>
</message>
<message name="printByName">
<part name="parameters" element="tns:printByName"/>
</message>
<message name="printByNameResponse">
<part name="parameters" element="tns:printByNameResponse"/>
</message>
<message name="printById">
<part name="parameters" element="tns:printById"/>
</message>
<message name="printByIdResponse">
<part name="parameters" element="tns:printByIdResponse"/>
</message>
<message name="cambio_direttore">
<part name="parameters" element="tns:cambio_direttore"/>
</message>
<message name="cambio_direttoreResponse">
<part name="parameters" element="tns:cambio_direttoreResponse"/>
</message>
<message name="printByRegion">
<part name="parameters" element="tns:printByRegion"/>
</message>
<message name="printByRegionResponse">
<part name="parameters" element="tns:printByRegionResponse"/>
</message>
<message name="removeNegozio">
<part name="parameters" element="tns:removeNegozio"/>
</message>
<message name="removeNegozioResponse">
<part name="parameters" element="tns:removeNegozioResponse"/>
</message>
<message name="printAll">
<part name="parameters" element="tns:printAll"/>
</message>
<message name="printAllResponse">
<part name="parameters" element="tns:printAllResponse"/>
</message>
<message name="printDrunkPeopleShops">
<part name="parameters" element="tns:printDrunkPeopleShops"/>
</message>
<message name="printDrunkPeopleShopsResponse">
<part name="parameters" element="tns:printDrunkPeopleShopsResponse"/>
</message>
<portType name="NegozioWS">
<operation name="createNegozio">
<input wsam:Action="http://ejb/NegozioWS/createNegozioRequest" message="tns:createNegozio"/>
<output wsam:Action="http://ejb/NegozioWS/createNegozioResponse" message="tns:createNegozioResponse"/>
</operation>
<operation name="updateNegozio">
<input wsam:Action="http://ejb/NegozioWS/updateNegozioRequest" message="tns:updateNegozio"/>
<output wsam:Action="http://ejb/NegozioWS/updateNegozioResponse" message="tns:updateNegozioResponse"/>
</operation>
<operation name="printByName">
<input wsam:Action="http://ejb/NegozioWS/printByNameRequest" message="tns:printByName"/>
<output wsam:Action="http://ejb/NegozioWS/printByNameResponse" message="tns:printByNameResponse"/>
</operation>
<operation name="printById">
<input wsam:Action="http://ejb/NegozioWS/printByIdRequest" message="tns:printById"/>
<output wsam:Action="http://ejb/NegozioWS/printByIdResponse" message="tns:printByIdResponse"/>
</operation>
<operation name="cambio_direttore">
<input wsam:Action="http://ejb/NegozioWS/cambio_direttoreRequest" message="tns:cambio_direttore"/>
<output wsam:Action="http://ejb/NegozioWS/cambio_direttoreResponse" message="tns:cambio_direttoreResponse"/>
</operation>
<operation name="printByRegion">
<input wsam:Action="http://ejb/NegozioWS/printByRegionRequest" message="tns:printByRegion"/>
<output wsam:Action="http://ejb/NegozioWS/printByRegionResponse" message="tns:printByRegionResponse"/>
</operation>
<operation name="removeNegozio">
<input wsam:Action="http://ejb/NegozioWS/removeNegozioRequest" message="tns:removeNegozio"/>
<output wsam:Action="http://ejb/NegozioWS/removeNegozioResponse" message="tns:removeNegozioResponse"/>
</operation>
<operation name="printAll">
<input wsam:Action="http://ejb/NegozioWS/printAllRequest" message="tns:printAll"/>
<output wsam:Action="http://ejb/NegozioWS/printAllResponse" message="tns:printAllResponse"/>
</operation>
<operation name="printDrunkPeopleShops">
<input wsam:Action="http://ejb/NegozioWS/printDrunkPeopleShopsRequest" message="tns:printDrunkPeopleShops"/>
<output wsam:Action="http://ejb/NegozioWS/printDrunkPeopleShopsResponse" message="tns:printDrunkPeopleShopsResponse"/>
</operation>
</portType>
<binding name="NegozioWSPortBinding" type="tns:NegozioWS">
<wsp:PolicyReference URI="#NegozioWSPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createNegozio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateNegozio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambio_direttore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printByRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeNegozio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printDrunkPeopleShops">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NegozioEJBService">
<port name="NegozioWSPort" binding="tns:NegozioWSPortBinding">
<soap:address location="http://localhost:8080/NegozioEJBService/NegozioWS"/>
</port>
</service>
</definitions>