JavaEE7/MiniProject/MolecoleEE/MolecoleEE_WSClient/xml-resources/web-service-references/MolecolaEJB/wsdl/localhost_8080/MolecolaEJBService/MolecolaEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb/">

<xs:element name="cercaTipo" type="tns:cercaTipo"/>

<xs:element name="cercaTipoResponse" type="tns:cercaTipoResponse"/>

<xs:element name="elencoCompleto" type="tns:elencoCompleto"/>

<xs:element name="elencoCompletoResponse" type="tns:elencoCompletoResponse"/>

<xs:complexType name="cercaTipo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaTipoResponse">
<xs:sequence>
<xs:element name="return" type="tns:molecola" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="molecola">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="elencoCompleto">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="elencoCompletoResponse">
<xs:sequence>
<xs:element name="return" type="tns:molecola" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>